Repository mt-andrea/OctoCat, changes with the owners that CODEOWNERS names for each.
All owners: @aoekatalin, @Marsal99, @mt-andrea, @Sudi0005, @balnatalp, @Kjani141

CODEOWNERS:

/OctoCat/src/octocat/Szo.java @aoekatalin 
/OctoCat/src/octocat/DB.java @Marsal99
/OctoCat/src/octocat/panel @mt-andrea
/OctoCat/src/octocat/FXMLDocument.fxml @Sudi0005
/OctoCat/src/octocat/OctoCat.java @balnatalp
/OctoCat/src/octocat/FXMLDocumentController.java @Kjani141

Update README.md
  README.md
Owners: none

Create assignee-action.yml
  .github/workflows/assignee-action.yml
Owners: none

konfliktus feloldásának javítása
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Kjani141

Update assignee-action.yml
  .github/workflows/assignee-action.yml
Owners: none

javítás
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Kjani141

Update assignee-action.yml
  .github/workflows/assignee-action.yml
Owners: none

Update assignee-action.yml
  .github/workflows/assignee-action.yml
Owners: none

javítás
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Kjani141

Create LICENSE
  LICENSE
Owners: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Owners: none

.
  .vs/.github/workflows/assignee-action.yml
  .vs/.github/workflows/terraform.yml
Owners: none

Update README.md
  README.md
Owners: none

fordítási hibák javítása
  OctoCat/nbproject/UPDATED.TXT
  OctoCat/nbproject/jfx-impl_backup_1.xml
  OctoCat/src/octocat/DB.java
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Marsal99, @Kjani141

Update README.md
  README.md
Owners: none

tesztelés közben felmerülő hibák javítása
  OctoCat/nbproject/project.properties
  OctoCat/src/octocat/DB.java
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Marsal99, @Kjani141

Update README.md
  README.md
Owners: none

quick fixes due to test results
  OctoCat/nbproject/private/private.xml
  OctoCat/src/octocat/DB.java
  OctoCat/src/octocat/FXMLDocumentController.java
Owners: @Marsal99, @Kjani141
